*,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    background: linear-gradient(135deg, #931fc9, #2454c5);
}

.container {
    /* background: linear-gradient(135deg,#931fc9, #2454c5 ); */
    display: flex;
    margin-top: 150px;
    justify-content: center;
    align-items: center;
}


.content {
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2rem;
}

.logo {
    width: 150px;
    object-fit: cover;
    height: 150px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #666;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="email"] {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

button{
    padding: 0.5rem;
    background-color: #931fc9;
    color: white;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0,0, 0.9);
    transition: background-color 0.3s ease-in;

    cursor: pointer;
}
button:hover{
    background-color: #15011e;
}