   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }

   body {
       height: 100vh;
       background-color: black;
   }

   .navbar {
       height: 80px;
       background-color: black;
       color: white;
       display: flex;
       justify-content: space-around;
       align-items: center;


   }

   .page-link {
       display: none;
   }

   @media (min-width: 768px) {
       .page-link {
           display: block;
       }
   }

   .logo {
       height: 50px;
       width: 70px;
       overflow: hidden;
   }

   .logo .logo-img {
       height: 100%;
       object-fit: cover;

   }

   .page-link ul {
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 60px;
       list-style: none;

   }

   .page-link ul li a {
       text-decoration: none;
       color: white;
       font-size: 17px;
   }

   .page-link ul li a:hover {
       color: #cb8d1a;
   }

   .navbar button {
       padding: 8px 20px;
       background-color: #cb8d1a;
       color: white;
       border-radius: 10px;
       border: 0;
       outline: 0;
       font-weight: 500;
       font-size: 16px;
   }

   .navbar button:hover {
       background-color: #fbc259;
   }

   #carouselExampleIndicators {
       height: 70vh;
   }

   .carousel-inner {
       height: 70vh;
       overflow: hidden;
   }

   .carousel-item active img {
       object-fit: cover;
       width: 100px;
   }

   .cards {
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 30px;
       flex-direction: column;
   }

   .card-section h1 {
       text-align: center;
       margin: 50px;
       color: white;
   }

   @media (min-width: 768px) {
       .cards {
           flex-direction: row;
       }
   }

   .footer-up {
       color: #755823;
       margin-top: 80px;
       display: flex;
       flex-direction: column;
       /* justify-content: space-around; */
   }


   .footer-left {
       height: 30vh;
       font-size: 18px;
       display: flex;
       gap: 10px;
       flex-direction: column;

   }

   .footer-left img {
       width: 70px;
   }

   .footer-right {
       display: flex;
       font-size: 18px;
       list-style: none;
       flex-direction: column;
       gap: 80px;

   }

   .footer-right li {
       margin-top: 10px;
   }

   .footer-right li:hover {
       color: #fff;
       transform: scale(0.8);
       /* transition: 0.3s ease-in-out; */
   }

   .footer-bottom {
       display: flex;
       color: #755823;
       /* justify-content: space-around; */
       flex-direction: column;
   }

   .footer-bottom-right {
       display: flex;
       flex-direction: column;
       gap: 20px;
   }

   @media (min-width: 768px) {
       .footer-up {
           flex-direction: row;
           justify-content: space-around;

       }

       .footer-left img {
           width: 160px;
       }

       .footer-bottom-right {
           flex-direction: row;
             justify-content: space-around;

       }

       .footer-right {
           flex-direction: row;
             justify-content: space-around;

       }

       .footer-left {
           flex-direction: row;
       }

       .footer-bottom {
           flex-direction: row;
             justify-content: space-around;

       }
   }