*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.item{
    background-color: orange;
    border: 2px solid black;
}
.grid-container{
    display: grid;
    /* grid-template-columns:1fr 1fr 1fr; */
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 100px ;
}
.item-1{
    grid-column: 1/3;
    grid-row: 4/8;
}
.item-2{
    grid-column: 3/4;
    grid-row: 1/3;
}
.item-3{
   grid-column: 1/3;
}